<section class="all">
     <app-task-form (addTask)="onAddTask($event)"></app-task-form>
     <app-task-list [tasks]="listTask"
     (handleTask)="handleTask($event)"
     
     ></app-task-list>

     <div #divSelect>
          <div *ngIf="selectedTask">
               <app-task-detail
                    [task] = "selectedTask"
                    (closeDetail)="fecharDetalhes()"
               ></app-task-detail>
          </div>
     </div>
    
     <app-task-log
     [tasks] = "listLogs"
     >

     </app-task-log>
</section>
