<section>
     <h2>Criar nova Tarefa</h2>
     <form [formGroup]="formTask" (ngSubmit)="submitTask()">
          <div class="divInput">
               <label for="title">Título</label>
               <input id="title" type="text" name="title" formControlName="title">
          </div>

          <div *ngIf="formTask.get('title')?.hasError('required')">
               <h2>Erro no Title</h2>
          </div>

          <div class="divInput">
               <label for="description">Descrição</label>
               <input id="description" type="text" name="description" formControlName="description">
          </div>

          <div class="divInput">
               <label for="date">Data de vencimento</label>
               <input id="date" type="date" name="date" formControlName="date">
          </div>

          <div class="divInput">
               <label for="status">Status</label>
               <select name="status" id="status" formControlName="status">
                    <option value="toDo">ToDo</option>
                    <option value="trabalhando">Trabalhando</option>
                    <option value="finalizado">Finalizado</option>
               </select>
          </div>

          <button type="submit"> Enviar </button>
     </form>
</section>
