<section>
     <h2>Tarefas</h2>
     
     <section class="container"  >
          <!-- <div class="containerAux">
               <h2>ToDo</h2>
               <div class="listTasks" *ngFor="let task of tasksFiltradas">
                    <div class="task" *ngIf="task.status === 'toDo'">
                         Titulo: {{ task.title }}<br>
                         Data de vencimento: {{ task.date | date:"dd/MM/yyyy" }} <br>
                         Descrição: {{ task.description | uppercase | slice: 0:5 }}
                         <button (click)="selectedTask(task)"> Ver detalhes </button>
                    </div>
               </div>
          </div>

          <div class="containerAux">
               <h2>Trabalhando</h2>
               <div class="listTasks" *ngFor="let task of tasksFiltradas">
                    <div class="task" *ngIf="task.status === 'trabalhando'">
                         Titulo: {{ task.title }}<br>
                         Data de vencimento: {{ task.date | date:"dd/MM/yyyy" }} <br>
                         Descrição: {{ task.description | uppercase | slice: 0:5 }}
                         <button (click)="selectedTask(task)"> Ver detalhes </button>
                    </div>
               </div>
          </div>

          <div class="containerAux">
               <h2>Finalizado</h2>
               <div class="listTasks" *ngFor="let task of tasksFiltradas">
                    <div class="task" *ngIf="task.status === 'finalizado'">
                         Titulo: {{ task.title }}<br>
                         Data de vencimento: {{ task.date | date:"dd/MM/yyyy" }} <br>
                         Descrição: {{ task.description | uppercase | slice: 0:5 }}
                         <button (click)="selectedTask(task)"> Ver detalhes </button>
                    </div>
               </div>
          </div> -->

          <div class="containerAux" *ngFor="let column of collums">
               <h2>{{ column.name }}</h2>
               <ng-container  *ngFor="let task of tasksFiltradas">
                    <div class="task" *ngIf="task.status === column.id">
                         Titulo: {{ task.title }}<br>
                         Data de vencimento: {{ task.date | date:"dd/MM/yyyy" }} <br>
                         Descrição: {{ task.description | uppercase | slice: 0:5 }}
                         <button (click)="selectedTask(task)"> Ver detalhes </button>
                         <br>
                    </div>
               </ng-container>
          </div>
     </section>

     <button class="btnTask" (click) = "mostrarLista()">Mostrar Lista</button>

</section>
